<p>あなたの誕生日は<%= @year %>年<%= @month %>月<%= @day %>日です。<%= "今日があなたの誕生日です。" if @happy_birthday %></p>
<p>あなたの星座は<%= @z_sign %>座です。</p>
<P>あなたは<%= calcage(@birthday) %>歳です。</p>
<p>今日のあなたの運勢は<%= @fortune %>です。</p>